.wrapper {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  margin-bottom: 20px;
}

.userLook {
  max-width: 300px;
  padding: 5px;
  border: 1px solid #7d7676;
  border-radius: 4px;
}
.userLook:hover,
.userLook:focus {
  background-color: #e4f9f9;
  border: 2px solid #0a8ed4;
  cursor: text;
}

.text {
  font-size: 16px;
  margin-bottom: 10px;
}
